// colors, where it all begins..
$secondary-color: #E83E8C;  
$primary-color: #673BB7;
$tertiary-color: #0067C2;
$primary-stroke-color: #31008A;
$card-bg: #FFFFFF30;
$body-bg: #F6FFFF;
$input-outline: #9F9F9F;
$font-color: #5C5C5C;
$secondary-bg: #F7F7F7;
$normal-dark: #000000;
$input-background: #ECECEC;
$popup-background: #2d2d2d;
$service-card-bg: #F3F7F7;

// the fonts, some cool fonts actually
$default-font: 'Poppins', sans-serif;
$default-font-size: 13px;

// font weights
$fw-semi-bold: 600;
$fw-medium: 500;
$fw-bold: 700;

@font-face {
    font-family: 'Poppins';
    src: url("~@/assets/fonts/Poppins-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("~@/assets/fonts/Poppins-Medium.ttf");
    font-weight: $fw-medium;
}
@font-face {
    font-family: 'Poppins';
    src: url("~@/assets/fonts/Poppins-SemiBold.ttf");
    font-weight: $fw-semi-bold;
}
