@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$secondary-color: #E83E8C;  
$primary-color: #673BB7;
$card-bg: #FFFFFF30;
$body-bg: #F6FFFF;
$input-outline: #9F9F9F;
$font-color: #5C5C5C;

// the fonts, some cool fonts actually
$default-font: 'Poppins', sans-serif;
$default-font-size: 13px
