@import '_variables.scss';

* {
    margin: 0;
    padding: 0
}

body {
    font-family: $default-font;
    background-color: $body-bg;
    font-size: $default-font-size;
    color: $font-color
}

main {
    background: url('../img/bg-image.svg') no-repeat center;
    background-size: 35%;
    @media screen and (max-width: 768px) {
        background-size: 100%;
    }
    min-height: 100vh;
}

.flex {
    display: flex;
    gap: 1em;
    &.align-center {
        align-items: center;
    }
    &.justify-between {
        justify-content: space-between;
    }
    &.flexed-column {
        flex-flow: column;
    }
    &.row-reverse {
        flex-flow: row-reverse;
    }
}

.top-nav {
    width: calc(100vw - 280px);
    position: fixed;
    top: 0;
    left: 220px
}
.page-section {
    position: fixed;
    top: 5.25em;
    min-height: calc(100vh - 50px);
    left: 220px;
    padding: 1em 2em;
    width: calc(100vw - 280px);
    overflow-y: auto;
}