@import '_variables.scss';

* {
    margin: 0;
    padding: 0
}

body {
    font-family: $default-font;
    background-color: $body-bg;
    font-size: $default-font-size;
    color: $font-color
}

main {
    background: url('../img/bg-image.svg') no-repeat center;
    background-size: 35%;
    @media screen and (max-width: 768px) {
        background-size: 100%;
    }
    min-height: 100vh;
}

// general typography rules
.sm {
    font-size: 12px;
}
.bold {
    font-weight: 600;
}
.semi-bold {
    font-weight: 500;
}

// typography colors
.text {
    &-danger {
        color: $secondary-color
    }
    &-primary {
        color: $primary-color
    }
}

.flex {
    display: flex;
    gap: 1em;
    &.align-center {
        align-items: center;
    }
    &.justify-center {
        justify-content: center;
    } 
    &.justify-between {
        justify-content: space-between;
    }
    &.flexed-column {
        flex-flow: column;
    }
    &.row-reverse {
        flex-flow: row-reverse;
    }
}

.mgy {
    &-1 {
        margin: 1em 0
    }
    &-2 {
        margin: 1.5em 0
    }
}

.text-center {
    text-align: center;
}

.grid {
    display: grid;
    align-items: center;
}

.top-nav {
    width: calc(100vw - 280px);
    position: fixed;
    top: 0;
    left: 220px
}
.page-section {
    position: fixed;
    top: 5.25em;
    min-height: calc(100vh - 50px);
    left: 220px;
    width: calc(100vw - 280px);
    overflow-y: auto;
    padding: 1em 3em
}

.page-title {
    position: fixed;
    top: 2em;
    left: 260px;
    z-index: 30000;
}

.search-bar-container {
    width: 90%;
    max-width: 840px;
    // margin: 0 auto
}

.app-table {
    text-align: left;
    font-size: 11px;
    font-weight: $fw-medium;
    max-width: 920px;
    margin-top: 3em;
    .table-row {
        margin: .75em 0;
        padding: 1em 0;
    }
    th, .table-header {
        font-size: 11px;
        color: $input-outline;
        font-weight: $fw-semi-bold;
        margin: .7em 0;
        // padding: 0 2em;
    }
    th,td {
        padding: .5em 1em;
        min-width: 120px;
    }
}